body{margin-left:0px;
	margin-top:0px;}
#mycanvas_1{		 margin-left:24%;
					  margin-top:0px;}
			#mycanvas_2{	  
					  margin-top:0px;}
			#mycanvas_3{ margin-top:-3%;}
			#mycanvas_4{  margin-top:-3%;}
			#mycanvas_5{margin-top:-4%;}
			#mycanvas_6{margin-top:-3%;}	
			#mycanvas_7{margin-top:-5%;}				
			#fon_2 {display:none;}
			#fon_3{display:none;}
			#fon_4{display:none;}
			#fon_5{display:none;}
			#fon_6{display:none;}
			#fon_7{display:none;}